<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>quizleague</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>PassThroughFilter</filter-name>
    <filter-class>quizleague.rest.PassThroughFilter</filter-class>
  </filter>
  <filter>
    <filter-name>UserEditURLRewriteFilter</filter-name>
    <filter-class>quizleague.rest.HistoryApiFallbackFilter</filter-class>
    <init-param>
    	<param-name>forwardPath</param-name>
    	<param-value>/useredit/index.html</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>MaintainURLRewriteFilter</filter-name>
    <filter-class>quizleague.rest.HistoryApiFallbackFilter</filter-class>
    <init-param>
    	<param-name>forwardPath</param-name>
    	<param-value>/maintain/index.html</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>URLRewriteFilter</filter-name>
    <filter-class>quizleague.rest.HistoryApiFallbackFilter</filter-class>
    <init-param>
    	<param-name>forwardPath</param-name>
    	<param-value>/index.html</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>PassThroughFilter</filter-name>
    <url-pattern>/_ah/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
  <filter-name>UserEditURLRewriteFilter</filter-name>
    <url-pattern>/useredit/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
    <filter-mapping>
    <filter-name>MaintainURLRewriteFilter</filter-name>
    <url-pattern>/maintain/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>URLRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <servlet>
    <servlet-name>mailhandler</servlet-name>
    <servlet-class>quizleague.rest.mail.MailHandler</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailhandler</servlet-name>
    <url-pattern>/_ah/mail/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>calendar</servlet-name>
    <servlet-class>quizleague.rest.calendar.CalendarHandler</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>calendar</servlet-name>
    <url-pattern>/calendar/*</url-pattern>
  </servlet-mapping>
  <!-->

  <servlet>
    <servlet-name>tokenhandler</servlet-name>
    <servlet-class>org.chilternquizleague.web.TokenQueueHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tokenhandler</servlet-name>
    <url-pattern>/tasks/tokens</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>backuphandler</servlet-name>
    <servlet-class>org.chilternquizleague.web.BackupQueueHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>backuphandler</servlet-name>
    <url-pattern>/tasks/backup</url-pattern>
  </servlet-mapping-->
  
  	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
		    <param-name>jersey.config.server.provider.packages</param-name>
		    <param-value>quizleague.rest.endpoint</param-value>
		</init-param>
		<init-param>
		    <param-name>jersey.config.server.provider.scanning.recursive</param-name>
		    <param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>all</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>maintenance</web-resource-name>
      <url-pattern>/maintain/*</url-pattern>
      <url-pattern>/rest/entity/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>tasks</web-resource-name>
      <url-pattern>/rest/task/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>useredit</web-resource-name>
            <url-pattern>/useredit/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>